<% include partials/header %>
<head>
  <link  rel="stylesheet" href="/stylesheets/home.css">
</head>

<div class="container">      
  <div class="jumbotron text-center">
      <h1>The Best!</h1>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
  <div class="row" style="display:flex; flex-wrap:wrap;">
            <% ads.forEach(function(ad,index){%>
              <a class="ads" href="/">
                <div class="col-md-2 col-sm-6">
                    <div class="thumbnail card " id ="card<%=index %>">
                      <img src="<%= ad.image %>" >
                        <div class="caption " >
                            <hr class="hr_home">
                            <h4><%= ad.name %></h4>
                            <div class = "desc">
                                <h4>US$ <%= ad.price %></h4>
                                <p><%=ad.description%></p>
                                <p><a></a></p>
                            </div>
                        </div>
                    </div>
                </div>
              </a>
            <% }); %>
    </div>
</div>

<% include partials/footer %>